{{#if addNewAnswer}}
<h1>New Answer</h1>
<br>
  <div>
    <form>
      <div class="form-group">
        <label for="answerer">Author: </label>
        {{input value=answerer id="answerer"}}
      </div>
      <div class="form-group">
        <label for="content">Answer: </label>
        {{input value=content id="content"}}
      </div>
      <br>
      <button class="btn btn-info" {{action 'saveAnswer'}}>Answer</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-info" {{action 'answerFormShow'}}>Answer This Question</button>
{{/if}}
