<h1>{{question.title}}</h1>
<h3>- Posted by {{question.author}}</h3>
<br>
<p>
  {{question.detail}}
</p>
<br>
<button class="btn btn-danger" {{action 'delete' question}}>Delete</button>
<br>
<hr>
<h1>Answers</h1>
<br>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
    <br>
  {{/each}}
</ul>
