<h1>{{question.title}}</h1>
<h3>Posted by {{question.author}}</h3>
<h4>
  {{question.detail}}
</h4>
<br>
<button class="btn btn-danger" {{action 'delete' question}}>Delete This Question</button>
<br>
<hr>
<h3>Reponses</h3>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>
