<h1>{{question.title}}</h1>
<h4>Author: {{question.author}}</h4>
<p>
  {{question.detail}}
</p>

<h3> Answers </h3>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>

<br>

<button {{action 'delete' question}}>Delete</button>
