<h1> Welcome to Question-and-Answer Board</h1>

<h3>List of Questions</h3>

<ul>
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}

<h3> All Answers </h3>

<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.author}} - {{answer.detail}}</li>
  {{/each}}
</ul>

{{new-answer saveAnswer="saveAnswer"}}
